
.post-previews {
    font-style:normal;
    color: whitesmoke;
  }

.dashtext{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:maroon;
    background-color:peachpuff;
    }
.skill{
    
    color:seashell;
    font-style: oblique;
}